<head>

<link rel="stylesheet" href="..\public\css\registration.css">
<link rel="stylesheet" href="..\public\js\registration.js">
<link rel="stylesheet" href="..\public\css\buttons.css">
<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">

<style>
body{
  background-image: url("../public/images/bee_cells.jpg");
}
</style>

</head>

<body>
    <div class="login-page">
      <nav>
        <ul>
          <li>Project</li>
          <li>About Us</li>
          <li>Login</li>
        </ul>
      </nav>
        <div class="form">
          <form class="register-form">
            <input type="text" placeholder="name"/>
            <input type="password" placeholder="password"/>
            <input type="text" placeholder="email address"/>
            <button>create</button>
            <p class="message">Already registered? <a href="#">Sign In</a></p>
          </form>
          <form class="login-form">
            <div style="text-align: left;">
                <label for="">Username</label>
                <input type="text" />
                <label for="">Password</label>
                <input type="password" />
            </div>
            <a href="#" class="button orange">Login</a>
            <p class="message">Not registered? <a href="./registration.html" style="color:orange">Create an account</a></p>
          </form>
        </div>
      </div>
</body>