<head>

  <title>Project</title>

    <link rel="stylesheet" href="..\public\css\registration.css">
    <link rel="stylesheet" href="..\public\js\registration.js">
    <link rel="stylesheet" href="..\public\css\buttons.css">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    
    <style>
    body{
      background-image: url("../public/images/bee_cells.jpg");
    }
    </style>
    
    </head>
    
    <body>
      
  
      <div class="container" style="background: white;  overflow: hidden; text-align:center; font-size: large;">
        <br>
       <!---<h1>beeOPLE</h1>--> 
      
        <img src="../public/images/beeople2_cut.png" width="40%" alt="img_logo" >
        <p>beeOPLE is a web application designed for a simple and fast communication between people in the same country</p>
        <p>With beeOPLE you can comunicate actions that other people will see! </p>

        <p>Not registered yet? <a href="registration.html">Register now!</a></p>
      </div>
    </body>