<head>

  <link rel="stylesheet" href="..\public\css\registration.css">
  <link rel="stylesheet" href="..\public\js\registration.js">
  <link rel="stylesheet" href="..\public\css\buttons.css">
  <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
  
  <style>
      
  </style>
  
  </head>
  
  <body style="background-image: url(../public/images/bee_cells.jpg)">
      <div class="login-page" style="width: 70%;">
          <div class="form">
            <form class="register-form">
  
              <input type="text" placeholder="name" required/>
              <input type="text" placeholder="surname" required/>
              <input type="text" placeholder="nickname" required/>
              <input type="text" placeholder="email address" required/>
              <input type="password" placeholder="password" required/>
              <input type="password" placeholder="confirm_password" required/>
  
              <button>create</button>
               <p class="message">Already registered? <a href="#">Sign In</a></p>
            </form>
            <form class="login-form">
              <div style="text-align: left;">
                  <label for="">Name</label>
                  <input type="text" />
                  <label for="">Surname</label>
                  <input type="text" />
                  <label for="">Nickname</label>
                  <input type="text" />
                  <label for="">Email</label>
                  <input type="text" />
                  <label for="">Password</label>
                  <input type="password" />
                  <label for="">Confirm password</label>
                  <input type="password" />
              </div>
              
              <a href="#" class="button orange">Register</a>
             
            </form>
          </div>
        </div>
  </body>