<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/allergie.css">
<style>

table{
    width: 98%;
    height: 90%;
    
}
td{
    width: 10%;
    height: 25%;
    /*border:solid 1px black;*/
    position: relative;
    
}
td.sfasate{
    position: relative;
    left: 110px;
}
body{
    background-color: rgb(255, 193, 7);
}
div.textallergie{
    position:relative;
    font-weight:bold;
    /*border:solid 1px black;*/
    text-align: center;
    
}


</style>

</head>
<body>
   <table>
    <tr style="height: 15%;">
        <th colspan="5">
          <div>
            <button type="button" class="btn btn-warning" onclick="window.history.back()" style="background-color: orange;position: relative;left:10px"><h5>Back to profile</h5></button>
            <h5>DIO CANE VIVA LA BLASFEMIA</h5>
          </div>
        </th>
    </tr>
    <tr>
        <td>
            <div class="button">
                <div class="hex">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="hex">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
              </div>
              <div class="textallergie">GRANMINACEE</div>
        </td>
        <td>
            <div class="button">
                <div class="hex">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="hex">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
              </div>
              <div class="textallergie">GRANMINACEE</div>
        </td>
        <td>
            <div class="button">
                <div class="hex">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="hex">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
              </div>
              <div class="textallergie">GRANMINACEE</div>
        </td>
        <td>
            <div class="button">
                <div class="hex">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="hex">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
              </div>
              <div class="textallergie">GRANMINACEE</div>
        </td>
        <td>
            <div class="button" >
                <div class="hex">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="hex">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
              </div>
              <div class="textallergie">GRANMINACEE</div>
        </td>
        <td>
            <div class="button" >
                <div class="hex">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="hex">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
              </div>
              <div class="textallergie">GRANMINACEE</div>
        </td>
        <td>
            <div class="button">
                <div class="hex">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="hex">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
              </div>
              <div class="textallergie">GRANMINACEE</div>
        </td>
    </tr>
    <tr>       
        <td class="sfasate">
            <div class="button" >
                <div class="hex" >
                  <div ></div>
                  <div ></div>
                  <div ></div>
                </div>
                <div class="hex" >
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
              </div>
            <div class="textallergie">GRANMINACEE</div>
        </td>
        <td class="sfasate">
            <div class="button">
                <div class="hex">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="hex">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
              </div>
              <div class="textallergie">GRANMINACEE</div>
        </td>
        <td class="sfasate">
            <div class="button" >
                <div class="hex" >
                  <div ></div>
                  <div ></div>
                  <div ></div>
                </div>
                <div class="hex" >
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
              </div>
            <div class="textallergie">GRANMINACEE</div>
        </td>
        <td class="sfasate">
            <div class="button">
                <div class="hex">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="hex">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
              </div>
              <div class="textallergie">GRANMINACEE</div>
        </td>
        <td class="sfasate">
            <div class="button" >
                <div class="hex">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="hex">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
              </div>
              <div class="textallergie">GRANMINACEE</div>
        </td>
        <td class="sfasate">
            <div class="button">
                <div class="hex">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="hex">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
              </div>
              <div class="textallergie">GRANMINACEE</div>
        </td>
        </td>
    </tr>
    <tr>
        <td>
            <div class="button">
                <div class="hex">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="hex">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
              </div>
              <div class="textallergie">GRANMINACEE</div>
        </td>
        <td>
            <div class="button">
                <div class="hex">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="hex">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
              </div>
              <div class="textallergie">GRANMINACEE</div>
        </td>
        <td>
            <div class="button">
                <div class="hex">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="hex">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
              </div>
              <div class="textallergie">GRANMINACEE</div>
        </td>
        <td>
            <div class="button">
                <div class="hex">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="hex">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
              </div>
              <div class="textallergie">GRANMINACEE</div>
        </td>
        <td>
            <div class="button" >
                <div class="hex">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="hex">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
              </div>
              <div class="textallergie">GRANMINACEE</div>
        </td>
        <td>
            <div class="button" >
                <div class="hex">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="hex">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
              </div>
              <div class="textallergie">GRANMINACEE</div>
        </td>
        <td>
            <div class="button">
                <div class="hex">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="hex">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
              </div>
              <div class="textallergie">GRANMINACEE</div>
        </td>
    </tr>
   </table>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>