<head>

    <title>Profile</title>
  
      <link rel="stylesheet" href="..\public\css\registration.css">
      <link rel="stylesheet" href="..\public\js\registration.js">
      <link rel="stylesheet" href="..\public\css\buttons.css">
      <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
      
      <style>
      body{
        background-image: url("../public/images/bee_cells.jpg");
      }
      </style>
      
      </head>
      
      <body>
        
    
        <div class="container" style="background: white; text-align:center;">
          <br>
            <form>
                <input type="text" value="Nome" readonly>
                <input type="text" value="Cognome" readonly>
                <input type="text" value="Email" readonly>
                <input type="text" value="Nickname" readonly>
            </form>
        </div>
      </body>